html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}a{margin:0; padding:0; text-decoration:none;}

@font-face { 
	font-family: 'rounded_eleganceregular';
	src: url('../fonts/rounded_elegance-normalfont.eot');
	src: url('../fonts/rounded_elegance-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/rounded_elegance-webfont.woff2') format('woff2'),
	     url('../fonts/rounded_elegance-webfont.woff') format('woff'),
	     url('../fonts/rounded_elegance-webfont.ttf') format('truetype'),
	     url('../fonts/rounded_elegance-webfont.svg#rounded_eleganceregular') format('svg');
	font-weight: normal;
	font-style: normal;

	
}

@font-face{
	font-family: 'artely';
	src: url('../fonts/artelyinks_personal_use-webfont.woff2') format('woff2'),
	     url('../fonts/artelyinks_personal_use-webfont.woff') format('woff'),
	     url('../fonts/ArtelyInks_PERSONAL_US.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html, body{
	height: 100%;
	font-family: 'Roboto', sans-serif;


}

	a{
		color: white;
		transition: all .3s ease 0s;
	}

	a:hover{
		color: #720909;
	}

	h2 {
		width: 100%;
		text-align: center;
		font-size: 35px;
		text-transform: uppercase;
		padding: 80px 0 40px 0;
		box-sizing: border-box;
	}

	h6 {
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		padding: 10px 0 20px 0;
		box-sizing: border-box;
		font-size: 24px;
		color: black;
		padding: 0;
	}


/* SECTION PRESENTATION*/
	/*#presentation{ 
		height: 100%;
		width: 100%;
		position: relative;
		background: white url('../images/presentation-bg-1.jpg') no-repeat 0 0;
		background-attachment: fixed;
		background-size: cover;
		
	}*/

#home{
		height: 100%;
		width: 100%;
		position: relative;
		background: #333 url('../images/bgn.jpg') no-repeat 0 0;
		background-attachment: fixed;
		background-size: cover;
	}

	#presentation{
		width: 600px;
		height: 500px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -250px;
		margin-left: -300px;
	}

	#presentation img{
		display: block;
		width: 43%;
		margin: 0 auto;
	}

	#presentation div{
		width: 100%;
		text-align: center;
		font-size: 24px;
		margin-top: 40px;
		color: #ddd;
	    text-transform: uppercase;
	    line-height: 30px;
	}



	.presentation-social {
	    font-family: montserrat-regular,sans-serif;
	    list-style: none;
	    margin: 0;
	    position: absolute;
	    top: 78%;
	    right: 5.4rem;
	    -webkit-transform: translate3d(0,-50%,0);
	    -ms-transform: translate3d(0,-50%,0);
	    transform: translate3d(0,-50%,0);
	}

	.presentation-social li{
		position: relative;
   		padding: .9rem 0;
	}

	.presentation-social li a{
		display: block;
    	width: 33px;
    	height: 33px;
	}

	.presentation-social i{
	    display: inline-block;
	    border: 2px solid #808080;
	    border-radius: 50%;
 		color: #808080;
	    font-size: 26px;
		color: #808080;
		height: 40px;
		width: 41px;
		margin: 0 auto;
		border-radius: 50%;
		line-height: 40px;
		text-align: center;
		margin-bottom: 20px;
		margin-left: 15px;
		float: left;
 		transition: all .3s ease 0s;
	}

	.presentation-social span{
	    right: 4.5rem;
	    font-size: 1.3rem;
	    opacity: 0;
	    visibility: hidden;
	    -webkit-transform: scale(0);
	    -ms-transform: scale(0);
	    transform: scale(0);
	    -webkit-transform-origin: 100% 50%;
	    -ms-transform-origin: 100% 50%;
	    transform-origin: 100% 50%;
	}

	.presentation-content__buttons {
	    padding-top: 3rem;
	    text-align: left;
	}

	.btn{
	    display: inline-block;
	    font-size: 1.2rem;
	    text-transform: uppercase;
	    letter-spacing: .3rem;
	    height: 5.4rem;
	    line-height: 3.6rem;
	    padding: 0 3rem;
	    margin: 0 .3rem 1.2rem 0;
	    color: #000;
	    text-decoration: none;
	    text-align: center;
	    white-space: nowrap;
	    cursor: pointer;
	    -webkit-transition: all .3s ease-in-out;
	    transition: all .3s ease-in-out;
	    background-color: transparent;
	    border: .2rem solid #c5c5c5;
	}

	.presentation-content__buttons .btn{
		width: auto;
        border-color: #635f5f;
	    color: #635f5f;
	    height: 60px;
	    font-size: 12px;
	    margin: 1.5rem 1.5rem 0 0;
	    letter-spacing: .25rem;
	    -webkit-transition: all .5s ease-in-out;
	    transition: all .5s ease-in-out;
	    font-weight: bold;
	}

	.presentation-content__buttons .btn:hover, .presentation-content__buttons .btn:focus {
	    background: transparent;!important;
	    color: #fff;
	    border-color: #fff;
	}
	
	/*LINHA HORIZONTAL*/
	.row {
	    width: 25%;
	    height: 1px;
	    size: 30%;
	    color: black;
	}
	/*FIM LINHA*/


	/*LINHA VERTICAL*/
	.row-vertical{
	    transform: rotate(90deg);
	    width: 58px;
	    height: 1px;
	}

	.inter{
		width: 9%;
    	margin-top: 13%;
	}
	/*FIM LINHA*/

	.presentation-content{
	    padding-top: 25rem;
	    position: relative;
	    width: 94%;
	    max-width: 1200px;
	    margin: 0 auto;
	}

	.presentation-content h3{
		font-family: montserrat-medium,sans-serif;
	    font-size: 1.0rem;
	    color: #808080;
	    text-transform: uppercase;
	    letter-spacing: .3rem;
	    position: relative;
	    margin-top: 0;
	    margin-bottom: 1.2rem;
	    margin-left: 6px;
	    line-height: 1.25;
	    font-weight: 700;
	    font-style: normal;
	    font-weight: 600;
	    text-rendering: optimizeLegibility;
	}

	.presentation-content h1 {
	    font-family: montserrat-medium ,sans-serif;
	    font-size: 63px;
	    line-height: 1.333;
	    margin-top: 0;
	    color: black;
	    font-weight: 700;
	}

	.icon-social{
		font-size: 26px;
		color: #fff;
		height: 40px;
		width: 41px;
		margin: 0 auto;
		border-radius: 50%;
		background: #cacaca;
		line-height: 40px;
		text-align: center;
		margin-bottom: 20px;
		margin-left: 15px;
		float: left;
 		transition: all .3s ease 0s;

	}
	
	#icon-social{
 		margin: 0 auto;
 	}
	
	#icon-facebook:hover{
		color: #3b5998;
		border-color: #3b5998;
	}

	#icon-instagram:hover{
		color: #ffc838;
		border-color: #ffc838;
	}

	#icon-linkedin:hover{
		color: #0e76a8;
		border-color: #0e76a8;
	}

	.header-presentation{
  		width: 100%;
	    height: 96px;
	    background-color: transparent;
	    position: absolute;
	    top: 0;
	    z-index: 500;
	    display: block;
	}

	.header-logo{
	    display: block;
	    margin: 7% 8%;
	    padding: 0;
	    outline: 0;
	    border: none;
	    font-size: xx-large;
	    line-height: inherit;
	    font-weight: 800;
	    width: 80px;
	    -webkit-transition: all .3s ease-in-out;
	    transition: all .3s ease-in-out;
	}



	.header-logo-white{
		color: white;
	}

	.header-logo-red{
		color: red;
	}
	

	/*h1 {
		width: 100%;
		font-size: 40px;
		box-sizing: border-box;
		text-transform: bold;
		color: black;
		padding: 0;
	}*/

	

	/*h3{
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		padding: 10px 0 20px 0;
		box-sizing: border-box;
		font-size: 24px;
	}*/

	br {
	clear: both;
	}

/* SECTION HOME-CAROUSEL*/
	.home{
		width: 100%;
		height: 70%;
		background-color: #cacaca;
	}

	#wrapper{
		width: 100%;
		margin: 0 auto;
	}

	.img-carousel{
		width: 100%;
	}

	

  * {
      box-sizing: border-box;
    }

    .slider {
        width: 100%%;
        margin: 0 auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }

/* SLIDER*/

	 .slider {
        width: 50%;
        margin: 100px auto;
    }

     .slider {
        width: 50%;
        margin: 100px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
  	  height: 385px;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }
		

/* MENU */



	nav{
		height: 100px;
		border-bottom: 1px solid #cacaca;
		background-color: #fff;
		position: relative;
		box-shadow: 0 4px 5px -3px #ececec;
		z-index: 999999999;
	}

	nav.fixed{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}

	nav li{
		float: left;
		height: 100px;
		line-height: 100px;
		font-family: 'Roboto, sans-serif'
		width: 100px;
		width: 100px;
		font-size: 18px;
		color: #00141e;
		transition: all .3s ease 0s;
		text-align: center;
		box-sizing: border-box;
		font-size: 16px;
	}


	nav ul{
		width: 1000px;
		float:left;
		position: absolute;
		left: 57%;
    	margin-left: -439px;
	}

	nav li#menu-logo{
		height: 100px;
		width: 200px;
		background: url('../images/menu-logo.png') no-repeat 50% 50%;
	}

	nav li a{
		color: #00141e;
		height: 100%;
		width: 100%;
		display: block;
		padding: 0 30px;
		box-sizing: border-box;
	}

	nav li:nth-child(5) {
		padding: none;
	}

	/* ABOUT */

	#about{
		width: 100%;
	    padding-top: 6%;
	    height: auto;
	    padding-bottom: 6%;
	    background: url('../images/mao-contact-bg.jpg') fixed no-repeat 50% 50%;
	    background-color: white;
	    color: #010507;
	    position: relative;
	}

	

	.welcome{
		color: rgb(255, 255, 255);
	    font-weight: bold;
	    font-size: 56px;
	    text-align: left !important;
	    line-height: 1.1;
	    margin: 0px;
	    padding: 30px 0px;
	    text-transform: uppercase;
	    font-family: Share, sans-serif !important;
	}
	
	.title-black{
	    text-align: center;
	    font-family: Share, sans-serif;
	    font-weight: bold;
	    font-size: 65px;
	}

	.title-black span{
		color: #900c0c;
	}

	.about-wrapper{
		width: 60%;
		margin: 0 auto;
	}

	.solucoes-wrapper{
		margin-top: 5%;
	}

	.text-wrapper{
		width: 80%;
		margin: 0 auto;
	}


	#about-yellow-box{
        padding: 5% 10% 5% 10%;
	}
	
	#about-wrapper p{
		width: 48%;
		text-align: justify;
	    line-height: 25px;
	}

	#about-wrapper p:first-child{
		float: left;
	}
	#about-wrapper p.right{
		float: right;
		text-align: center;
	}



	.right-desc-gestao-eficiente{
	    font-size: 27px;
	    font-size: 22px;
	    line-height: normal;
	    font-weight: 300;
	    padding: 4% 11% 4% 2%;
	    text-align: right !important;
	    color: #3a3737;
	    font-family: Roboto, sans-serif;
/*	    BACKGROUND COM PATTERN*/
	    background-image: url(../images/texture6.png);
 		background-repeat:repeat;

	}

	.right-desc{
		font-size: 27px;
	    font-size: 22px;
	    line-height: normal;
	    font-weight: 300;
	    padding-top: 2%;
	    text-align: right !important;
	    color: #3a3737;
	    font-family: Roboto, sans-serif;
	}

	.left-desc{
        font-size: 27px;
	    font-size: 22px;
	    line-height: normal;
	    font-weight: 300;
	    padding: 4% 2% 4% 11%;
	    text-align: left !important;
	    color: #3a3737;
	    font-family: Roboto, sans-serif;
	    background-image: url(../images/texture5.png);
 		background-repeat:repeat;
	}

	.cursive-font{
		font-size: 206%;
	    padding: 2%;
	    text-transform: none;
	    font-weight: normal;
	    color: rgb(255, 255, 255);
	    font-family: 'artely', cursive;
	}

	.share-font{
		font-family: 'Share', sans-serif;
	}

	.subhead{
	    font-size: 17px;
	    font-weight: bold;
	    line-height: 1.333;
	    text-transform: uppercase;
	    letter-spacing: .25rem;
	    margin-top: 0;
	    margin-bottom: 0;
	    text-align: center;
	    padding: 4% 4% 1% 4%;
	}

	.subhead-text{
		width: 100%;
		text-align: center;
		font-size: 56px;
		text-transform: uppercase;
		padding: 20px 0 40px 0;
		box-sizing: border-box;
	}


	.second-subhead{
		font-size: 17px;
	    font-weight: bold;
	    line-height: 1.333;
	    text-transform: uppercase;
	    letter-spacing: .25rem;
	    margin-top: 0;
	    margin-bottom: 0;
	    text-align: center;
	}

	.second-subhead-text{
		font-size: 36px;
	}



	/*ESPAÇO SOLUÇÕES*/

	#solutions-wrapper{
		width: 100%;
	    padding-left: 10%;
	    box-sizing: border-box;
	    padding-right: 10%;
	}

	#solutions-wrapper > div{
		width: 33%;
	    float: left;
	    padding: 2%;
	}

	.solutions-icon{
		width: 100%;
		font-size: 40px;
		font-family: 'ionicons';
		text-align: center;
		height: 60px;
		line-height: 60px;
		margin-top: 25px;
		color: #900c0c;
	}

	#solutions-wrapper > div > p {
		width: 90%;
		margin: 0 auto;
		text-align: justify;
		line-height: 24px;
		margin-bottom: 30px;
	}

	.solution-title{
        width: 100%;
	    text-align: center;
	    text-transform: uppercase;
	    padding: 10px 0 10px 0;
	    box-sizing: border-box;
	    font-size: 24px;
	    font-weight: bold;
	}

	/*FIM SOLUCOES*/

	.image-about{
		width: 25%;
		height: 25%;
	}

	.text-centralized{
        padding: 4% 10% 7% 10%;
	    text-align: center;
	    line-height: 24px;
	    font-size: 23px;
	}

	#values-wrapper{
		width: 100%;
		padding: 0 10% 0 14%;;
		box-sizing:border-box;
		margin-top:80px;
		background-color: #efefef;
	}

	#values-wrapper:last-child{
		padding-right: 0;
	}

	#values-wrapper > div{
		width: 33%;
		float: left;
	}

	.values-icon{
		width: 100%;
		font-size: 40px;
		font-family: 'ionicons';
		text-align: center;
		height: 60px;
		line-height: 60px;
		margin-top: 25px;
		color: #00AAE6;
	}

	#values-wrapper > div > p {
		width: 70%;
		margin: 0 auto;
		text-align: justify;
		line-height: 24px;
		margin-bottom: 30px;
	}

	#mej-wrapper{
		width: 60%;
		margin: 0 auto;
	}

	h3.mej{
		margin-top: 30px;
		margin-bottom: 30px;
	}

	h3.mej .icon{
		font-size: 30px;
		color: #fff;
		height: 40px;
		width: 41px;
		margin: 0 auto;
		border-radius: 50%;
		background: #f28500;
		line-height: 40px;
		text-align: center;
		margin-bottom: 20px;
	}

	#mej-wrapper p{
		margin-bottom: 130px;
		line-height: 24px;
		text-align: justify;
	}

	.logo{
	    height: 101%;
    	margin: 0 0 -4% 0;
	}

	/*POLYGON*/
	.polygon {
	  position: relative;
	  height: 300px;
	  background-image: linear-gradient(#ff9d2f, #ff6126);
	}

	.polygon h1 {
	  padding: 100px 0;
	  font: 44px "Arial";
	  text-align: center;
	}

	.polygon h1 {
	  color: white;
	}

	svg {
	  position: absolute;
	  bottom: 0;
	  width: 100%;
	  height: 100px;
	}

	@media (max-width: 699px) {
	  .svg--lg {
	    display: none;
	  }
	}

	@media (min-width: 700px) {
	  .svg--sm {
	    display: none;
	  }
	}

	.link-yellow-box a{
		color: white;
	}

	.link-yellow-box a:hover{
		color: #880a0a;
	}

/*SIZES*/
	.big-enough{
	    font-size: 72px;
	    line-height: 1.1;
	    margin-top: 0;
	    color: black;
	    width: 41% !important;
/*		background: url('../images/bg2.jpg') no-repeat 50% 50%;
*/	}

	.small-title{

	}



/*SECTION SERVICES*/

#services {
		width: 100%;
		padding: 0 10%;
		box-sizing: border-box;
		background-color: #efefef;
	}	

	#services-header{

	}

	#services-header h2{
		margin-top: 10px;
		box-sizing: border-box;
		text-decoration: uppercase;
	}

	#services-header h4{
		text-align: center;	
		color: #808080;
	}

	.services-row4{
		width: 100%;
		margin: 0 auto;
		float: left;
	}

	
	.services-row4 
	.services-container{
		width: 15%;
	    padding: 1% 1% 1% 17%;
	}

	.services-container{
		width: 100%;
		float: left;
	}

	.services-image {
		overflow: hidden;
		border-radius: 50%;
		width: 80%;
		margin: 0 auto;
	}

	.services-image img{
		width: 100%;
		height: auto;
		border: 0;
		max-width: 80%%;
		border-radius: 50%;
		max-height: 80%;
	}

	.services-name{
		font-size: 22px;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.services-desc{
		text-align: center;
		line-height: 20px;
		margin-bottom: 30px;
		font-size: 14px;
		color: #999;
		margin-left: 7%;
	}
	
	.services-desc:first-child{
		margin-left: 0;
	}

/* SECTION PROJETCS */
	#projects{
		background-color: #efefef;
	    padding-bottom: 80px;

	}

	#projects-header{
		width: 100%;
		height: 206px;
		background: url('../images/projects1.jpg') no-repeat 50% 50%;
		background-size: cover;
	}

	#projects h2{
		color: #fff;
		font-size: 45px;
		height: 206px;
		padding: 0;
		line-height: 206px;
	}


	.projects-row3{
		width: 80%;
		margin: 0 auto;
	}

	.projects-row3 .project-container{
		width: 30%;
	}
	.projects-row3 .project-container:first-child{
		margin-right: 5% ;
	}
	.projects-row3 .project-container:nth-child(2){
		margin-right: 5% ;
	}


	.project-container{
		width: 100%;
		float: left;
	}


/*SECTION PARTNERS*/

	#partners{
		background-color: #ffffff;
	    padding-bottom: 80px;
	    width: 100%;
	    text-align: center;
	    padding-top: 30px;
	    padding-bottom: 30px;
		background: url(../images/mao-contact-bg.jpg) no-repeat 50% 50% fixed;
	}
	
	.partners-container{
		margin-bottom: 80px;
		margin-top: 80px;	}

	.partners-header{
		font-size: 35px;
		color: black;
		text-transform: uppercase; 
		margin-top: 50px;
		margin-bottom:50px; 
	}

	.partners-desc{
		font-size: 25px;
		color: #696969;
	}

	.partners-desc a{
		color: #880a0a;
	}
	
	.partners-icon{
		font-size: 35px;
	    background-color: #f4ae27;
	    height: 42px;
	    width: 42px;
	    text-align: center;
	    margin: 0 auto;
	    /* border-radius: 50%; */
	    transform: rotate(45deg);

	}

	.partners-icon .ion-coffee{
	   transform: rotate(-45deg);
	}
	
	

	/*COLORS*/


	.light-red{
		color: #720909;
	}

	.dark-red{
		color: #3a0401;
	}


	.light-yellow{
		color: #CC9F28;
	}

	.dark-yellow{
		color: #986324;
	}

	.off-white{

	}

	.yellow-bg{
		background-color: rgb(244, 174, 39);
	}

 	/*BEATING HEART*/

 	@keyframes heartbeat {
	  0% {
	    transform: scale( .15);
	  }
	  20% {
	    transform: scale( .30);
	  }
	  40% {
	    transform: scale( .15);
	  }
	  60% {
	    transform: scale( .30);
	  }
	  80% {
	    transform: scale( .30);
	  }
	  100% {
	    transform: scale( .20);
	  }
	}

#heart {
      position: relative;
    width: 100px;
    height: 90px;
    animation: heartbeat 1s infinite;
    text-align: center;
    margin-top: -3.25%;
    margin-left: 56%;
}

#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: red;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

#heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}


/*FOOTER*/

	.footer {
	    background: url(../images/footer.png) repeat;
	    width: 100%;
	    height: 176px;
	}

	.footer img{
		display: block;
		margin-top: 20px;;
		margin: 0 auto;
		width: 88px; height: 88px;
	}
	.info-footer{
		width: 100%;
		text-align: center;
		color: #ddd;
	    line-height: 30px;
	}

	/*SVG*/

	.polygon-div {
	    position: relative;
	    width: 100%;
	    height: 680px;
	    background-image: linear-gradient(#ffffff, #f7e3e3);
	}

	svg {
	  position: absolute;
	  bottom: 0;
	  width: 100%;
	  height: 100px;
	}

	@media (max-width: 699px) {
	  .svg--lg {
	    display: none;
	  }
	}

	@media (min-width: 700px) {
	  .svg--sm {
	    display: none;
	  }
	}

	/*FLUXOGRAM-SECTION*/

	.fluxogram-text{
		margin-top: 4%;
    	margin-left: 4%;
    	font-size: 23px;
	}

	.title{
	    text-align: center; 
	    font-size: 65px;
	    width: 100%;
	    text-align: center;
	    font-weight: bold;
	    text-transform: uppercase;
	    font-family: Share, sans-serif;
	    padding: 80px 0 40px 0;
	    box-sizing: border-box;
	    color: #010507;
	    text-shadow: 1px 1px #cacaca;
	}

	.title span{
		color: #ab1616;
	}

	/*KNOW MORE SECTION*/
	#more-wrapper{
		width: 80%;
		margin: 0 auto;
	}

	#more-wrapper div{
		width: 48%;
		text-align: justify;
	    line-height: 25px;
	}

	#more-wrapper div:first-child{
		float: left;
	}
	#more-wrapper div.right{
		float: right;
		text-align: center;
	}


	/*PARTNERS*/
	#partners-header{
		width: 100%;
		height: 264px;
	    position: relative;
	}

	#partners-header > .bg-video {
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index: -1; /*apenas um -1 é necessário quando se trabalha com relative + absolute, sendo pai e filho*/
	    width: 100%;
	    height: 100%;
	    overflow: hidden; /* evita do video passar a altura desejada do .wrap */
	}
	#partners-header > .bg-video > video {
	    width: 100%;
	}

	/*ACTUATION*/


	#actuation{
		background-color: #ffffff;
	    padding-bottom: 80px;
	    width: 100%;
	    height: auto;
	    text-align: center;
	    padding-bottom: 50px;
	}
	
	.actuation-container{
		margin-bottom: 80px;
		margin-top: 80px;	}

	.actuation-header{
		font-size: 35px;
		color: black;
		text-transform: uppercase; 
		margin-top: 50px;
		margin-bottom:50px; 
	}

	

	.actuation-desc{
		font-size: 25px;
		color: #696969;
	}
	
	.actuation-icon{
		font-size: 35px;
	    background-color: #00aae6;
	    height: 40px;
	    width: 41px;
	    margin: 0 auto;
	    border-radius: 50%;

	}
	

	#actuation h2{
		width: 100%;
	    text-align: center;
	    font-weight: bold;
	    font-size: 56px;
	    text-transform: uppercase;
	    font-family: Share, sans-serif;
	    padding: 80px 0 40px 0;
	    box-sizing: border-box;
	    color: #3a3737;
	    text-shadow: 1px 1px #cacaca;
	} 

	.row3{
		width: 60%;
   		margin: 0 0 0 22%;
	}

	
	.row3 .row-3-project-container{
		width: 33%;
	}
	.row3 .row-3-project-container:first-child{
		margin-right: 0%;
	}
	.row3 .row-3-project-container:nth-child(2){
		margin-right: 0%;
	}


	.row-3-project-container{
		width: 100%;
		padding: 30px 0 0 4%;
    float: left;
	}

	/*INTERACTIVE BUTTON*/

	.btn-act {
	  	border: none;
		display: block;
		text-align: center;
		cursor: pointer;
		text-transform: uppercase;
		outline: none;
		overflow: hidden;
		position: relative;
		color: #fff;
		font-weight: 700;
		font-size: 15px;
		background-color: #2b2b2b;
		width: 384px;
		height: 59px;
		padding: 17px 60px;
		margin: 0px 0 24px 5%;
		box-shadow: 0 5px 15px rgba(0,0,0,0.20);
	}

	.btn-act span {
	  position: relative; 
	  z-index: 1;
	}

	.btn-act:after {
	  content: "";
	  position: absolute;
	  left: 0;
	  top: 0;
	  height: 490%;
	  width: 140%;
	  background: rgb(244, 174, 39);
	  -webkit-transition: all .5s ease-in-out;
	  transition: all .5s ease-in-out;
	  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
	  transform: translateX(-98%) translateY(-25%) rotate(45deg);
	}

	.btn-act:hover:after {
	  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
	  transform: translateX(-9%) translateY(-25%) rotate(45deg);
	}

	 /*FLIPPING CARDS*/

	 .flip-card {
	  background-color: transparent;
    width: 250px;
    height: 250px;
    perspective: 1000px;
	}

	.flip-card-inner {
	  position: relative;
	  width: 100%;
	  height: 100%;
	  text-align: center;
	  transition: transform 0.6s;
	  transform-style: preserve-3d;
	  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	}

	.flip-card:hover .flip-card-inner {
	  transform: rotateY(180deg);
	}

	.flip-card-front, .flip-card-back {
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  backface-visibility: hidden;
	  color: black;
	}

	.flip-card-front {
	  background-color: white;
	  color: black;
	}

	.flip-card-back {
	  background-color: #f6f5f5;
      color: black;
      transform: rotateY(180deg);
	}

	.flip-card-back h1{
	    padding: 24% 4% 0 4%;
	}

	.flip-card-back-special h1{
	    padding: 30% 4% 0 4%;
	    transform: rotateY(180deg);
	}

	.flippin-cards-icon{
		width: 100%;
	    font-size: 40px;
	    font-family: 'ionicons';
	    text-align: center;
	    height: 60px;
	    line-height: 60px;
	    margin-top: 27%;
	    color: #900c0c;
	}

	.flip-desc{
		font-size: 23px;
	}

	/*CONTACT*/
 
	#contact-header{
		width: 100%;
		background: url('../images/img1.jpg') no-repeat center center fixed;
		margin-bottom: 100px;
		color: #fff;
		height: 206px;
	    background-size: cover;

	}


	.contact-wrapper{
		background-color: #fafafa;
	}


	#gestao-eficiente-header{
		width: 100%;
		background: url('../images/img2b.jpg') no-repeat center center fixed;
		color: #fff;
		height: 206px;
	    background-size: cover;
	}

	#gestao-eficiente-header h2 span{
		border: 3px solid #720909;
    	padding: 10px;
	}

	#gestao-eficiente-header h2{
		width: 100%;
	    text-align: center;
	    font-weight: bold;
	    font-size: 56px;
	    text-transform: uppercase;
	    font-family: Share, sans-serif;
	    padding: 80px 0 40px 0;
	    box-sizing: border-box;
	    color: white;
	    text-shadow: 1px 1px #cacaca;
	}

	#projetos-otimizadores-header{
		width: 100%;
		background: url('../images/img3.jpg') no-repeat center center fixed;
		color: #fff;
		height: 206px;
	    background-size: cover;
	}

	#projetos-otimizadores h2{
		width: 100%;
	    text-align: center;
	    font-weight: bold;
	    font-size: 56px;
	    text-transform: uppercase;
	    font-family: Share, sans-serif;
	    padding: 80px 0 40px 0;
	    box-sizing: border-box;
	    color: white;
	    text-shadow: 1px 1px #cacaca;
	}

	#projetos-otimizadores-header h2 span{
		border: 3px solid rgb(244, 174, 39) ;
    	padding: 10px;
	}

	#contact-header h2{
		width: 100%;
	    text-align: center;
	    font-weight: bold;
	    font-size: 56px;
	    text-transform: uppercase;
	    font-family: Share, sans-serif;
	    padding: 80px 0 40px 0;
	    box-sizing: border-box;
	    color: white;
	    text-shadow: 1px 1px #cacaca;
	}

	#contact-header h2 span{
		border: 3px solid #720909;
    	padding: 10px;
	}

	.contact-info{
		float: left;
		width: 33%;
		margin-left: 15%;
		margin-bottom: 25px;
	}

	.contact-form {
		float: right;
		width: 33%;
		margin-right: 15%;
		margin-top: 2%;

	}

	.contact-form textarea,
	.contact-form input{
		width: 100%;
		height: 40px;
		border: 1px solid #cacaca;
		border-radius: 5px;
		padding-left: 10px;
		box-sizing: border-box;
		margin-bottom: 10px;
	}

	.contact-form textarea{
		height: 153px;
		resize: none;
	}

	.contact-row h4{
		float: left;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 15px;
		width: 140px;

	}	

	.separador-contact{
		width: 117px;
    float: left;
    height: -3px;
    color: red;
    margin-bottom: 21px;
	}
	.contact-row p{
		color: black;
		font-size: 30px;
	    width: 60%;
	    font-weight: bold;
		}


	.contact-row > span{
		float: left;
	    display: block;
	    margin: 8px 0 0 -63px;
	    color: #969696;
		}

	.contact-row{
		margin-bottom: 0px;
	}

	.contact-row .label{
		float: left;
		line-height: 25px;
		height: 25px;

	}
	 
	.contact-row .icon{
		font-size: 25px;
		font-family: 'ionicons';
		text-align: center;
		height: 25px;
		line-height: 25px;
		color: #f4ae27;
		float: left;
		margin-right: 10px;
	}
	
	.contact-form .btn{
		margin-top: 20px;
	}

	.contact-form #returnMessage{
		width: 100%;
		text-align: center;
		opacity: 0;
		transition: all .3s ease 0s;
		margin-top: 20px;
	}

	.contact-form #returnMessage.active{
		opacity: 1;
	}

	.button {
	  display: inline-flex;
	  height: 40px;
	  width: 197px;
	  border: 2px solid #f28500;
	  margin: 20px 20px 20px 20px;
	  color: #969696;
	  text-transform: uppercase;
	  text-decoration: none;
	  font-size: .8em;
	  letter-spacing: 1.5px;
	  align-items: center;
	  justify-content: center;
	  overflow: hidden;
	}

	.button a {
	  color: black;
	  text-decoration: none;
	  letter-spacing: 1px;
	}

	#button-5 {
	  position: relative;
	  overflow: hidden;
	  cursor: pointer;
	  margin: 2% 0 0 32%;
	}

	#button-5 a {
	  position: relative;
	  transition: all .45s ease-Out;
	}

	#translate {
	  transform: rotate(50deg);
	  width: 100%;
	  height: 250%;
	  left: -200px;
	  top: -30px;
	  background: #f28500;;
	  position: absolute;
	  transition: all .3s ease-Out;
	}

	#button-5:hover #translate {
	  left: 0;
	}

	#button-5:hover a {
	  color: black;
	}

	.vector{
		width: 45px;
	}
	
	.vector-c{
		width: 36px;
		margin-bottom: -24px;
	}

 .left-content{
	float: left; 
	width: 50%;
	height: 573px;
 }

 .right-content{
 	float: left; 
	width: 50%;
	height: auto;
 }

 .clear{
 	clear: both;
 }

.bold{
	font-weight: bold;
}

.span-spotlight{
	font-weight: bold;
	color: #CC9F28;
}

.span-spotlight-red{
	font-weight: bold;
	color: #720909;
}

.gerenciamento-title{
	text-transform: uppercase;
	font-weight: 900;
	font-size: 27px;
}

.floating-image{
	position: relative;
    top: 0px;
    left: 0px;
    width: 30%;
    margin-left: 90%;
    margin-top: -25%;
}
.floating-image-2{
    position: relative;
    top: 0px;
    left: -41px;
    width: 43%;
    margin-left: 90%;
    margin-top: -25%;
}

.social-media a{
	color: #969696;
}

.social-media a:hover{
	color: black;
}


/*CHEESE BLOCK*/
.left-content-cheesy{
	float: left; 
	width: 50%;
	height: 573px;
 }

 .right-content-cheesy{
 	float: left; 
	width: 50%;
	height: auto;
 }

 .melhoria-continua{
 	font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px #cacaca;
    color: rgb(244, 174, 39);
 }

/*GRID*/
	#advisory-wrapper{
		width: 100% !important;
	    padding: 0 10% !important;
	    box-sizing: border-box !important;
        margin-top: 0;
	    background-color: #fff ;
	}

	#advisory-wrapper > div{
		width: 33%;
		float: left;
	}

	.highlight-box{
		background-color: #fff;
	}

	
	.highlight-box:hover{
		background-color: #efb26b !important;
		color: white !important;
		transition: all .3s ease 0s;
	}

	.highlight-box:hover > div{
		color: white !important;
	}

	.highlight-box:hover > h3{
		color: white !important;
	}

	.highlight-box:hover > p{
		color: white !important;
	}

	#advisory-wrapper > div > h3{
    	font-size: 19px;
    	padding: 2%;
    	font-weight: bold;
    	color: #3c4048;
	}

	.advisory-icon{
		width: 100%;
		font-size: 40px;
		font-family: 'ionicons';
		text-align: center;
		height: 60px;
		line-height: 60px;
		margin-top: 25px;
		color: #efb26b;
	}

	#advisory-wrapper > div > p {
		width: 70%;
		margin: 0 auto;
		text-align: justify;
		line-height: 24px;
		margin-bottom: 30px;
		color: gray;
	}

	.border-right{
		border-right: solid 1px #f2f2f2;
	}

	.border-left{
		border-left: solid 1px #f2f2f2;

	}